Requests==2.32.3
browserstack-local
browserstack-sdk
jsonmerge
multiprocess
percy-playwright
percy==2.0.2
percy_appium_app==2.0.7
playwright
psutil
pytest-base-url
pytest-playwright
pytest-variables
pytest-xdist
pytest==8.3.3
pytest_selenium==4.1.0
python-dotenv